fieldset {
            width: 38%;
            margin-left: 502px;
            padding: 45px;
            background-color: aqua;
            border-radius: 24px;
        }

        .submit {
            padding: 10px;
            border-radius: 20px;
            width: 100px;
            background-color: orange;
        }

        .search {
            padding: 5px;
            width: 300px;
            border-radius: 20px;
        }

        .searchpro {
            text-align: center;
        }
